<mat-toolbar color="primary" *ngIf="mostrarMenu">
  <mat-toolbar-row>
    <span>Rotas</span>

    <span class="example-spacer"></span>

    <a routerLink="/">
      <mat-icon routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="example-icon" aria-hidden="false" aria-label="Home">home</mat-icon>
    </a>
    <a routerLink="/cursos" [queryParams]="{pagina:1}">
      <mat-icon routerLinkActive="active" class="example-icon" aria-hidden="false" aria-label="Cursos">school</mat-icon>
    </a>
    <!-- <a routerLink="curso/{{id}}">
      <mat-icon routerLinkActive="active" class="example-icon" aria-hidden="false" aria-label="Login">star</mat-icon>
    </a> -->
    <a routerLink="/alunos">
      <mat-icon routerLinkActive="active" class="example-icon" aria-hidden="false" aria-label="Login">group</mat-icon>
    </a>
    <a routerLink="/login">
      <mat-icon routerLinkActive="active" class="example-icon" aria-hidden="false" aria-label="Login">login</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <!-- <p>Entre com o ID do Curso</p>
  <input type="text" [(ngModel)]="id"> -->
  
  <router-outlet></router-outlet>
</div>