<h2>Data Driven</h2>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        
        <div formGroupName="dadosPessoais">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="nome">Nome</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Nome"
                        formControlName="nome"
                        [ngClass]="aplicaCssErro('dadosPessoais.nome')"
                    >
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('dadosPessoais.nome')" msgErro="O nome é obrigatório."></app-campo-control-erro>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="email">Email</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        placeholder="E-mail" 
                        formControlName="email"
                        [ngClass]="aplicaCssErro('dadosPessoais.email')"
                    >
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('dadosPessoais.email')" msgErro="O e-mail é obrigatório."></app-campo-control-erro>
                    <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="O e-mail é inválido."></app-campo-control-erro>
                </div>
            </div>
        </div>


        <div formGroupName="endereco">
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="cep">CEP</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="CEP"
                        formControlName="cep"
                        [ngClass]="aplicaCssErro('endereco.cep')"
                        (blur)="consultaCEP()"
                    >
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cep')" msgErro="O CEP é inválido."></app-campo-control-erro>
                </div>

                <div class="col-md-3">
                    <label for="numero">Número</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Número"
                        formControlName="numero"
                        [ngClass]="aplicaCssErro('endereco.numero')"
                    >
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="O número é obrigatório."></app-campo-control-erro>
                </div>

                <div class="col-md-6">
                    <label for="complemento">Complemento</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Complemento"
                        formControlName="complemento"
                    >
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="rua">Rua</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="rua"
                        [ngClass]="aplicaCssErro('endereco.rua')"
                    >
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="A rua é obrigatória."></app-campo-control-erro>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-5">
                    <label for="bairro">Bairro</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="bairro"
                        [ngClass]="aplicaCssErro('endereco.bairro')"
                    >
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="O bairro é obrigatório."></app-campo-control-erro>
                </div>

                <div class="col-sm-4">
                    <label for="cidade">Cidade</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="cidade"
                        [ngClass]="aplicaCssErro('endereco.cidade')"
                    >
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="A cidade é obrigatória."></app-campo-control-erro>
                </div>

                <div class="col-sm-3">
                    <label for="estado">Estado</label>
                    <select
                        type="text"
                        class="form-control"
                        formControlName="estado"
                        [ngClass]="aplicaCssErro('endereco.estado')"
                    >
                        <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{estado.nome}}</option>
                    </select>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="O estado é obrigatório."></app-campo-control-erro>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label for="cargo">Cargo</label>
                <select
                    type="text"
                    class="form-control"
                    formControlName="cargo"
                    [ngClass]="aplicaCssErro('cargo')"
                    [compareWith]="compararCargos"
                >
                    <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{cargo.desc}}</option>
                </select>
            </div>

            <div class="col-sm-3">
                <label for="tecnologias">Tecnologias</label>
                <select
                    type="text"
                    class="form-control"
                    formControlName="tecnologias"
                    [ngClass]="aplicaCssErro('tecnologias')"
                    multiple
                >
                    <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{tecnologia.desc}}</option>
                </select>
            </div>

            <div class="col-sm-3">
                <label for="newsletter">Newsletter</label>
                <div id="newsletter">
                    <div class="col-sm-4" *ngFor="let item of newsletterOptions">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="newsletter" formControlName="newsletter" [value]="item.valor">
                            <label class="form-check-label" for="newsletter">{{item.desc}}</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label>Termos de uso</label>
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox" 
                        id="defaultCheck1"
                        formControlName="termos"
                        [ngClass]="aplicaCssErro('termos')"
                    >
                    <label class="form-check-label" for="defaultCheck1">
                      Aceito os termos e condições
                    </label>
                    <app-campo-control-erro [mostrarErro]="verificaValidTouched('termos')" msgErro="É necessário aceitar os termos."></app-campo-control-erro>
                </div>
            </div>

            <div class="col-md-3">
                <Label>Frameworks</Label>
                <div class="form-check">
                    <div class="row">
                        <div
                            class="col-sm-4"
                            formArrayName="frameworks"
                            *ngFor="let item of formulario.get('frameworks')['controls']; let i = index"
                        >
                            <input
                                class="form-check-input"
                                type="checkbox" 
                                [id]="frameworks[i]"
                                [ngClass]="aplicaCssErro('frameworks')"
                                [formControlName]="i"
                            >
                            <label class="form-check-label" [for]="frameworks[i]">
                                {{frameworks[i]}}
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="actions">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button type="button" class="btn btn-danger" (click)="resetarFormulario()">Cancelar</button>
            <button type="button" class="btn btn-info" (click)="setarCargo()">Cargo</button>
            <button type="button" class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>
        </div>

</form>

<app-form-debug [form]="formulario"></app-form-debug>
