<h4>Styles com property binding (style binding)</h4>
<button
    (click)="onMudarAtivo()"
    [style.backgroundColor]="ativo ? 'blue' : 'gray'"
    [style.color]="ativo ? 'white' : 'black'"
    [style.fontWeight]="ativo ? 'bold' : 'normal'"
    [style.fontSize]="tamanhoFonte + 'px'"
>
    Mudar atributo 'ativo'
</button>

<br>
<br>

<h4>Styles com diretiva ngStyle</h4>
<button
    (click)="onMudarAtivo()"
    [ngStyle]="{
        'backgroundColor': (ativo ? 'blue' : 'gray'),
        'color': (ativo ? 'white' : 'black'),
        'fontWeight': (ativo ? 'bold' : 'normal'),
        'fontSize': (tamanhoFonte + 'px')
    }"
>
    Mudar atributo 'ativo'
</button>

<br>
<br>

<input type="text" [(ngModel)]="tamanhoFonte">
